.logout {
  position: fixed;
  right: 10px;
  top: 5px;
}

.loginForm {
 margin-top: 100px;
 padding: 20px;
 border: solid 1px gray;
 border-radius: 15px;
}

.postForm{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: solid 1px rgb(71, 74, 255);
  border-radius: 5px;
}

.loginbuttons{
  margin: 20px;
}

#post {
  position: fixed;
  right: 80px;
  top: 5px;
}

.cardstyle {
  margin-bottom: 30px;
  box-shadow: 2px;
}
/* .navtab {
  position: fixed
} */

/* #card{
  overflow: scroll;
  height: 80%;
} */

li:hover {
  color:blue;
}
