.logout {
  position: fixed;
  right: 10px;
  top: 5px;
}

.loginForm {
 margin-top: 100px;
 padding: 20px;
 border: solid 1px gray;
 border-radius: 15px;
}

/* .navtab {
  position: fixed
} */

/* #card{
  overflow: scroll;
  height: 80%;
} */

li:hover {
  color:blue;
}
